@font-face {
  font-family: 'gevicons';
  src:  url('fonts/gevicons.eot?wxm30h');
  src:  url('fonts/gevicons.eot?wxm30h#iefix') format('embedded-opentype'),
    url('fonts/gevicons.ttf?wxm30h') format('truetype'),
    url('fonts/gevicons.woff?wxm30h') format('woff'),
    url('fonts/gevicons.svg?wxm30h#gevicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gev-"], [class*=" gev-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gevicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gev-contratos-regreso-flecha:before {
  content: "\e900";
}
.gev-dar-dinero-mano-pagar:before {
  content: "\e901";
}
.gev-documento-a-calcular:before {
  content: "\e902";
}
.gev-documento-a-mas:before {
  content: "\e903";
}
.gev-documentos-versiones:before {
  content: "\e904";
}
.gev-filtro-lista:before {
  content: "\e905";
}
.gev-ip-estadistica-flecha:before {
  content: "\e906";
}
.gev-lapiz-documento-proyecto:before {
  content: "\e907";
}
.gev-mano-dinero:before {
  content: "\e908";
}
.gev-contratos-regreso-flecha-outline:before {
  content: "\e909";
}
.gev-dar-dinero-mano-pagar-outline:before {
  content: "\e90a";
}
.gev-documento-a-calcular-outline:before {
  content: "\e90b";
}
.gev-documento-a-mas-outline:before {
  content: "\e90c";
}
.gev-documentos-versiones-outline:before {
  content: "\e90d";
}
.gev-filtro-lista-contornos-outline:before {
  content: "\e90e";
}
.gev-ip-estadistica-flecha-outline:before {
  content: "\e90f";
}
.gev-lapiz-documento-proyecto-outline:before {
  content: "\e910";
}
.gev-mano-dinero-outline:before {
  content: "\e911";
}
